.center-h1 {
    position: absolute;
    left: 50%;
}

.center-div {
    position: absolute;
    left: 50%;
    top: 100px;
}

table,
th,
td {
    border: 10px solid rgba(209, 68, 12, 0.109);
    background-color: rgba(255, 0, 0, 0.116);
}